.hidden, .row.hidden{
    display: none;
}

.row{
    display: block;
    width: 300px;
    position: relative;
    padding: 5px 30px 5px 8px;
    background: cornsilk;
    margin: 18px 0;
}

.row label{
    display: block;
}

.row input{
    width: 100%;
}

.add-fields__delete{
    position:  absolute;
    top: -10px;
    right: 0;
}

#qunit{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}